@model IEnumerable<Inventoria.Models.Inventory>
@{
    ViewData["Title"] = "Home";
    var popular = ViewBag.Popular as IEnumerable<Inventoria.Models.Inventory>;
    var q = ViewBag.Query as string;
}
@if (!string.IsNullOrWhiteSpace(q))
{
    <h3>Search results for "@q"</h3>
}
else
{
    <h3>Latest Inventories</h3>
}
<table class="table table-hover">
  <thead><tr><th>Title</th><th>Description</th><th>Owner</th></tr></thead>
  <tbody>
  @foreach (var i in Model)
  {
    <tr onclick="location.href='/Inventories/Manage/@i.Id?tab=items'">
      <td>@i.Title</td>
      <td>@Html.Raw(i.DescriptionMd)</td>
      <td>@i.OwnerId</td>
    </tr>
  }
  </tbody>
</table>

@if (popular != null && popular.Any())
{
    <h4>Popular</h4>
    <ul class="list-group">
        @foreach (var p in popular)
        {
            <li class="list-group-item d-flex justify-content-between"><span>@p.Title</span><span class="badge bg-secondary">items</span></li>
        }
    </ul>
}
